# Compiled source #
###################
*.com
*.exe
*.o
*.Release
*.Debug


# Ignore not used folders
###################
./bin
./debug
./release
./images/results

# Ignore Qt Files
##################
*.pro.user
PTADetector.pro.user
